*{
padding: 0%;
margin: 0;
scroll-behavior: smooth;
}
.navbar {
    overflow: hidden;
    background-color:RGBA(0, 0, 0, 0.6);
    position: fixed; /*--Set the navbar to fixed position --*/
    top: 0; /*--Position the navbar at the top of the page-- */
    width: 100%; /*-- Full width --*/
  }
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
  }
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  .bgimage
  {
      background-image:url("./pics/real.jpg");
      width:100%;
      height: 100vh;
      background-size:cover;
      background-position:center;
      position: relative;
      filter:blur(px);
  }

  ul li.active a{
      background-color: transparent;
      color: #D6B530;
  }
  .logo p{
  padding-top:35px;
  }
  
  .logo img{
  float:left;
  width: 140px;
  padding: 10px ;
  height: 100px;
  }
  
  .logo font{
      font-family:Edwardian Script;
      padding: 35%;
  
  }
  .title img{
  width: 160px;
  height: 120px;
  }
  
  .title{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
  }
  .title h1{
      color:#EADA9D;
      font-family: Algerian;
      font-size: 40px;
  }
  .title p{
      margin: 10px 0 40px 0px;
      font-size: 14px;
      
      color: aliceblue;
  }
  
  .button{
      position: absolute;
      top: 62%;
      left: 43%;
      background: transparent;
      transform: translate(-50%,-50);
  }
  
  .btn{
      border: 1px solid #EADA9D;
      padding:  12px 34px ;
      color: #fff;
      text-decoration:none;
      position: relative;
      transition:1s;
      cursor: pointer;
      display: inline-block;
  }
  .btn:hover
  {
      background-color:#EADA9D;
      color: white;
  }
  
  
  /*------------------------------------Menu of the bakery-----------------------------------*/
  
  .Menu
  {
      width: 80%;
      margin: auto;
      text-align: center;
      padding-top: 100px;
      margin-top: 25px;
      border: solid black;
  }
  
  h1{
      font-size: 36px;
      font-weight: 600;
  }
  
  p{
      color: black;
      font-size: 300;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      line-height: 22px;
      padding: 10px;
        
  }
  
  .row{
      margin: 5%;   
      justify-content: space-between;
  }
  
  .course-col{
      flex-basis: 31%;
      font-family: 'Courier New', Courier, monospace;
      background: #fff3f3;
      border-radius: 10px;
      margin-bottom: 5%;
      padding: 20px 12px;
/*--      border: solid black;--*/
      box-sizing: border-box;
      transition: 0.5s;
  }
  
  h3{
      text-align: center;
      font-size: xx-large;
      font-weight: 600;
      margin: 10px 0px;
  }
  
  .course-col:hover{
      box-shadow: 0 0 50px 0px rgba(0,0,0,0.2) ;
  
  }
  
  
  
  
  /*------------------------------------------------------------------------------MEET OUR TEAM-------------------------------------------------------------------*/
  .team{
      font-family: 'josefine sans',sans-serif;
      width:80%;
      height: 90%;
    margin: auto;
    background-color: azure;
    padding: 5%;
  
  
  }
  
  .team h1{
      font-family: 'Allura',cursive;
      font-size: 52px;
      margin-bottom: 60px;
      text-align: center;
  
  }
  .team p{
      text-align: center;
  
  }
  
  .row {
   
      text-align: center;
      width: auto;
      justify-content: center;
  }
  
  .team-col{
  padding-top: 20%;
  padding: 2%;
  }
  
  .row .team-col img{
      width: 20%;
  }
  
  
  
  .layer{
      color:white ;
      margin: 5px;
      margin-bottom: 50px;
      width: 600px;
      padding: 2px;
      position: relative;
  }
  
  .layer h3{
      align-items:unset;
      color: #c64464;
      font-size: 36px;
      margin-left: 60%;
  }
  
  
  .layer p{
  color: rgb(0, 0, 0.7);
  font-size: 26px;
  margin-left: 60%;
  }
  
  
  .team-col:hover{
      box-shadow: 0 0 50px 0px rgba(0,0,0,0.2) ;
  }
  
  
  /*------------------------------------------------------------ABOUT US----------------------------------------*/
  .about{
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 10%;
  }
  
  .about h1{
      font-size: 36px;
      font-weight: 600;
  }
  
  .about p{
   font-family: 'Courier New', Courier, monospace;
  }
  
  .about-col{
      flex-basis: 31%;
      background: #fff3f3;
      border-radius: 10px;
      margin-bottom: 5%;
      padding: 20px 12px;
      box-sizing: border-box;
      transition: 0.5s;
  }
  
  .about-col:hover{
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  /*------------------------------------------------BLOG--------------------------------------------*/
  .Blog{
  width:80%;
  height: 90%;
  margin: auto;
  background-color: azure;
  padding: 10%;
  }
  .blog-col {
    text-align: center;
  }
  .Blog .log-col .h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .Blog .log-col p{
    font-family: Perpetua;
    line-height: 1cm;
  
  }
  
  .blog-col:hover{
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  
  
  /*---------------------------------------ratings------------------------------------------------------------*/
  .reviews{
      width: 80%;
      margin: auto;
      padding-top: 100px;
      text-align: center;
  }
  .reviews-col{
      flex-basis: 44%;
      border-radius: 10px;
      margin-bottom: 5%;
      text-align: left;
      background: #fff3f3;
      padding: 25px;
      cursor: pointer;
      display: flex;
  
  }
  
  .reviews-col img{
      height: 40px;
      margin-left: 5px;
      margin-right: 30px;
      border-radius: 50%;
  }
  
  .reviews-col p{
      padding: 0;    
  }
  
  .reviews-col h3{
      margin-top: 15px;
      text-align: left;
      
  }
  
  .reviews-col {
      opacity:0.2;
    }
    .reviews-col:hover{
      opacity:1;
    }
  
    /*-------------------------------------CONTACT--------------------------------*/
  
    .cta{
      
        margin: 100px auto;
        width: 80%;
        background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("./pics/download.jpg");
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        text-align: 100px 0;
    }
    
    .cta h1{
        color: #fff;
        margin: 40px;
        padding: 0;
  
    }
  
  
    .hero-btn{
    position: absolute;
    top: 62%;
    left: 45%;
    background: transparent;
    transform: translate(-50%,-50);
  }
  
    .hero-btn{
      border: 1px solid red;
      padding: auto 12px 34px ;
      color: #fff;
      text-decoration:none;
      position: relative;
      transition:1s;
      cursor: pointer;
      display: inline-block;
    }
  
    .hero-btn:hover{
    background-color: red;
      color: white;
    }


    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
      }
    
      body {
        background: #f2f4f6;
      }
      .footer_get_touch_outer {
        margin-top: 80px;
      }
      .container {
        width: 95%;
        max-width: 1140px;
        margin: auto;
      }
      .grid-70-30 {
        display: grid;
        grid-template-columns: 70% 30%;
      }
      .get_form_inner {
        display: block;
        padding: 50px 40px;
        background: #fff;
        box-shadow: -4px -2px 20px -7px #cfd5df;
      }
      input[type="text"], input[type="text"], input[type="email"], input[type="tel"] {
        border: 1px solid #dbdbdb;
        border-radius: 2px;
        color: #333;
        height: 42px;
        padding: 0 0 0 20px;
        width: 100%;
        outline: 0;
      }
      .grid-50-50 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      }
      .grid-full {
        margin: 20px 0;
      }
      textarea {
        border: 1px solid #dbdbdb;
        border-radius: 2px;
        color: #333;
        padding: 12px 0 0 20px;
        width: 100%;
        outline: 0;
        margin-bottom: 20px;
      }
      .get_form_inner_text h3 {
        color: #333;
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 40px;
      }
      input[type="submit"] {
        display: inline-block;
        font-size: 16px;
        text-transform: uppercase;
        background: transparent;
        border: 2px solid;
        font-weight: 500;
        padding: 10px 20px;
        outline: 0;
        cursor: pointer;
        color: #103e65;
        transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        -webkit-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        -moz-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        -ms-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        -o-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
      input[type="submit"]:hover {
        background-color: #f85508;
        border-color: #f85508;
        color: #fff;
      }
      .get_say_form {
        display: inline-block;
        padding: 45px 0 25px 30px;
        background: #103e65;
        position: relative;
      }
      .get_say_form h5 {
        color: #fff;
        font-size: 26px;
        margin: 0 0 40px;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      .get_say_social-icn {
        display: flex;
        position: absolute;
        bottom: 40px;
      }
      .get_say_social-icn a {
        font-size: 22px;
        color: #fff;
        padding: 0 20px 0 0;
      }
      .get_say_info_sec i {
        color: #fff;
        font-size: 32px;
      }
      .get_say_info_sec > li {
        display: grid;
        grid-template-columns: 40px auto;
        align-items: center;
        margin-bottom: 40px;
      }
      .get_say_info_sec > li a {
        width: 100%;
        display: block;
        padding: 15px 25px;
        color: #fff;
        font-size: 16px;
        text-decoration: unset;
        font-weight: 500;
        background: #162b65;
        border-radius: 5px 0 0 5px;
        transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        -webkit-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        -moz-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        -ms-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        -o-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
      .get_say_info_sec > li a:hover {
        background-color: #f85508;
      }